{% load static %}{% load suit_tags %}{% load url from suit_compat %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ title }} |  {{ admin_site_title }} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% endblock %}"/>
    <link href="{% static 'niftyv2/img/favicon.png' %}" rel="shortcut icon">
    <link type="text/css" href="{% static 'niftyv2/css/fonts.css' %}" rel="stylesheet">

    <!-- Bootstrap CSS [ REQUIRED ] -->
    <link type="text/css" href="{% static 'niftyv2/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Nifty CSS [ REQUIRED ] -->
    <link type="text/css" href="{% static 'niftyv2/css/nifty.min.css' %}" rel="stylesheet">
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}"/>
    {% endif %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE"/>
    {% endblock %}
</head>
{% load i18n %}
<body cz-shortcut-listen="true" style="background-image: url('{% static "niftyv2/premium/boxed-bg/abstract/bg/8.jpg" %}');">
<!-- Container -->
<!-- CONTENTS -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<section id="content" class="content" style="background-color: #000000bf">
    <div class="content__boxed w-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <div class="content__wrap">
            {% block container %}
                <!--Page content-->
                {% block content %}
                    {{ content }}
                {% endblock %}

                <!--End page content-->
            {% endblock %}
        </div>
    </div>
</section>
<!--Nifty Admin [ RECOMMENDED ]-->
{% block extrajs %}{% endblock %}

</body>
</html>
