{% load static %}{% load suit_tags %}{% load url from suit_compat %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ title }} |  {{ admin_site_title }} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% endblock %}"/>
    <link href="{% static 'nifty/img/favicon2.png' %}" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="{% static 'nifty/css/bootstrap.min.css' %}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{% static 'nifty/css/nifty.min.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'nifty/plugins/font-awesome/css/font-awesome.min.css' %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'nifty/css/demo/nifty-demo.min.css' %}" media="all">
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}"/>
    {% endif %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE"/>
    {% endblock %}
</head>
{% load i18n %}
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
<!-- Container -->
{% block container %}
    <div id="container" class="cls-container">
        <!--Page content-->
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
    <!--End page content-->
{% endblock %}

<!--Nifty Admin [ RECOMMENDED ]-->
{% block extrajs %}{% endblock %}
<script>
    document.body.innerHTML.replace('2000', 'hi');
</script>
</body>
</html>
