{% if show %}
    <ol class="breadcrumb" style="padding-left: 0px;">
        {% if back %}
            <li class="date-back">
                <a class="btn-link" href="{{ back.link }}">{{ back.title }}</a>
                <span class="divider">|</span>
            </li>
        {% endif %}
        {% for choice in choices %}{% spaceless %}
            <li>{% if choice.link %}<a class="btn-link" href="{{ choice.link }}">{% endif %}{{ choice.title }}{% if choice.link %}</a>&nbsp;{% if back %}&nbsp;{% endif %}{% endif %}{% endspaceless %}</li>
        {% endfor %}
    </ol>
{% endif %}
