{% extends "admin/base.html" %}
{% load i18n static suit_tags %}
{% load url from suit_compat %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        {% if perms.auth.index_view %}
            <li class="breadcrumb-item">
                <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            </li>
        {% endif %}
        <li class="breadcrumb-item"><a href="{% url 'admin:password_change' %}">{% trans "Change Password" %}</a></li>
        <li class="breadcrumb-item active">{% trans 'Password change successful for user' %} {{ user.username }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="alert alert-success">
        {% trans "Password change successful," %}
        {% trans "Beck to" %}
        <a href="{% url 'admin:password_change' %}">{% trans "Change Password" %}</a>
    </div>
{% endblock %}